name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
      
jobs:
  BuildAndTest:
    name: Image ${{ matrix.image }}
    strategy:
      matrix:
        image: ["swift:6.2.0-noble", "swift:6.2.0-jammy", "swift:6.1.2-noble"]
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}
    steps:
      - name: Install libssl-dev
        run: apt-get update && apt-get install -y libssl-dev
      - uses: actions/checkout@v6
      - name: Build
        run: swift build -c release -Xswiftc -strict-concurrency=complete
      - name: Run tests
        run: swift test
  SwiftLint:
    name: SwiftLint version 3.2.1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: GitHub Action for SwiftLint
        uses: norio-nomura/action-swiftlint@3.2.1
  SwiftFormat:
    name: swift-format
    runs-on: ubuntu-latest
    container:
      image: swift:6.2.0-noble
    steps:
      - uses: actions/checkout@v6
      - name: Run swift-format
        run: swift-format format --recursive --in-place Sources/ Tests/
      - name: Check for formatting differences
        run: git diff --exit-code
